* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color: #4a145a;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
body .container {
  width: 70%;
  height: 30%;
  margin-top: 70px;
  padding: 20px 30px 30px 30px;
  border: 1px solid yellow;
  background-color: white;
  display: flex;
  gap: 50px;
}
body .container h1 {
  margin-top: 40px;
  font-size: 30px;
  color: #102a42;
}
body .container .acardion-section .acardion {
  width: 700px;
  border: 1px solid #eae6eb;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #eae6eb, -3px -3px 3px #eae6eb;
  padding: 15px;
  margin-top: 20px;
}
body .container .acardion-section .acardion .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .container .acardion-section .acardion .main h2 {
  font-size: 30px;
  color: #102a6c;
}
body .container .acardion-section .acardion .main i {
  font-size: 20px;
  background-color: #eae6eb;
  border-radius: 50%;
  color: #b4345c;
  padding: 8px;
}
body .container .acardion-section .acardion p {
  margin-top: 15px;
  color: #324d7f;
  font-size: 22px;
  line-height: 40px;
}
body .container .hide {
  display: none;
}

@media screen and (max-width: 1300px) {
  body .container {
    width: 90%;
    display: block;
  }
  body .container h1 {
    margin-top: 10px;
  }
  body .container .acardion-section .acardion {
    width: 98%;
  }
}
