.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/bg.jpg");
  background-size: 100vw 100vh;
  .container {
    background-color: #86868649;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
